<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>E-Commerce</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
  <div class="container pt-5">
        {% extends 'base.html' %}
        {% block title %} | Purchase{% endblock title %}

        {% block body %}
       <div class="container mt-5">

        <h2>Item List:</h2>

        <p class="text-muted">Select items</p>
        <form method="POST" class="form-check">
            {% csrf_token %}

            {{ purchase_form.as_p }}

            {% if purchase_form.errors %}
            <div class="alert alert-danger">
                {{ purchase_form.errors }}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-success">Add to cart</button>
        </form>
        {% endblock body %}

    </div>
  </div>

</body>

</html>